.select{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* min-height: 100vh; */
    /* width: 100%; */
    
}

.container{
    /* margin-left: 23px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#select{
    margin-right: 12px;
}

.search{
    padding: 2px;
    margin-left: 11px;

    /* width: 12px; */
}

